.whole-container {
  display: flex;
  height: 100vh;
}

.menu-bar-container {
  display: flex;

  justify-content: center;
  background-color: black;
  width: 20%;
  height: 100%;
}

.menu-bar-container img {
  width: 150px;
  height: 150px;
}

.container {
  display: flex;
  width: 80%;
  height: 100%;
  background-color: purple;
}

.toast-image-editor {
  height: 100vh;
  width: 50%;
  background-color: blue;
}

.feedContent {
  display: flex;
  width: 50%;
  flex-direction: column;
}
